<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/api/content" method="post" enctype="multipart/form-data">
      <select name="user">
        <% users.forEach(user=>{ %>
        <option value="<%= user._id %>"><%= user.name %></option>
        <% }) %></select
      ><br /><br />
      <input type="file" name="source" /><br /><br />
      <select name="type">
        <option value="video">Video</option>
        <option value="reel">Reel</option>
        <option value="post">Post</option></select
      ><br /><br />
      <input type="text" name="title" placeholder="title" /><br /><br />
      <textarea name="description" id="" cols="30" rows="10"></textarea
      ><br /><br />
      <input type="file" name="poster" /><br /><br />

      <button>Submit</button>
    </form>
  </body>
</html>
